*{
    margin: 0;
    box-sizing: border-box;
}

:root{
    color-scheme: dark light;
}

body{
    background-color: rgb(6, 0, 46);
}


h1{
    text-align: center;
    /* margin-top: .25em; */
    color: #fffefe;

    /* margin-bottom: 1em; */
}

.container{
    display: block;
}

.game-board{
    --_dimensions: 330px;

    display: grid;
    grid-template-columns: repeat(10, 1fr);

    width: var(--_dimensions);
    height: var(--_dimensions);

    gap: 1px;

    margin: 0 auto;
}

.text{
    text-align: center;
    font-size: 1.125rem;
    margin-bottom: .5em;
}

/* .game-board.player{
    opacity: 0.5;
} */

.cell{
    border: 1px solid rgb(136, 0, 255);
    border-radius: 5px;
}

.computer .cell{
    cursor: crosshair;
}
.computer .cell.invalid{
    cursor: not-allowed;
}

.valid.cell:hover{
    background-color: rgb(255, 0, 204);
    opacity: 0.5;
}

.computer .cell.invalid{
    cursor: not-allowed;
}


.blue{
    background-color: rgb(5, 151, 255);
}
.red{
    background-color: red;
}
.green{
    background-color: rgb(144, 240, 0);
}


.overlay{
    background: none;
    outline: none;
    border: none;

    z-index: 10;

    inset: 50%;
    transform: translate(-50%, -50%);

    
}

.overlay-display{
    display: flex;
    flex-direction: column;

    gap: 5rem;
}

.overlay::backdrop{
    background-color: black;
    opacity: .9;
}

.btn-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: inherit;

    margin-top: 1.2em;
}

.btn-container.hidden{
    display: none;
}

.btn{
    outline: none;
    border: none;

    padding: .3em 1em;

    border-radius: 999px;

    cursor: pointer;

    transition: 0.3s;
}

.rotate-btn, .random-btn{
    background-color: rgb(255, 174, 0);
    color: #fffefe;

    font-size: 1.125rem;

    white-space: nowrap;

    opacity: 0.7;

    cursor: pointer;
}


.rotate-btn:hover,
.random-btn:hover{
    opacity: 1;
}

.overlay-text{
    font-size: 2rem;
    white-space: nowrap;
    /* text-align: center; */
}

.restart{
    padding: 1em 0.3em;
    font-size: 1.5rem;
    background-color: rgb(248, 45, 0);
    opacity: 0.7;
    transition: 0.3s;
}

.restart:hover{
    opacity: 1;
}

.player.invalid{
    opacity: 0.85;
    pointer-events: none;
}


.ship-placement{
    color: white;
    font-size: 1.2em;
    text-align: center;
}

.player-container,
.computer-container{
    width: 330px;
    margin: 1.7em auto 0 auto;
}

.computer-container.hidden{
    display: none;
}


.cell.hover-clr{
    background-color: rgba(255, 0, 144, 0.458);
}

@media(width>770px){
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 80%;
        /* border: 2px solid red; */
        margin: 50px auto;
    }

    h1{
        margin-top: 1em;

    }

    .ship-placement{
        margin-top: 1.5em;
        font-size: 1.5rem;
    }
}